[Desktop Entry]
Type=Application
Name=BattleNet
GenericName=BattleNet
Comment=BattleNet (Unofficial)
Exec=BattleNet
Categories=Game;
Icon=BattleNet
Keywords=Blizzard;BattleNet;Battle.net;Hearthstone;World of Warcraft;StarCraft;Warcraft;Overwatch;Diablo;Heroes of the Storm;Warcraft Rumble