[Desktop Entry]
Type=Application
Name=Battle.net
GenericName=Battle.net
Comment=Battle.net (Unofficial)
Exec=Battle.net
Categories=Game;
Icon=Battle.net
Keywords=Blizzard;Battle.net;Hearthstone;World of Warcraft;StarCraft;Warcraft;Overwatch;Diablo;Heroes of the Storm;Warcraft Rumble